! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #0b1c20, #8aa079, #8aa079
rofi.color-normal: argb:0000000, #8aa079, argb:0000000, #8aa079, #1b2b34
rofi.color-active: argb:0000000, #6699cc, argb:0000000, #6699cc, #1b2b34
rofi.color-urgent: argb:0000000, #e12a36, argb:0000000, #dd2a4b, #1b2b34
rofi.font: Dina 8
rofi.separator-style: none
rofi.hide-scrollbar: true
rofi.location: 2
rofi.width: 640
rofi.lines: 8
rofi.yoffset: 26

! Urxvt Config
! -------------------------------------------------------------------------------

   URxvt.color0:   #0b1c20
   URxvt.color1:   #8aa079
   URxvt.color2:   #a08e58
   URxvt.color3:   #4da098
   URxvt.color4:   #a09a6d
   URxvt.color5:   #a07733
   URxvt.color6:   #a08c5d
   URxvt.color7:   #6ea091

   URxvt.color8:   #235d6b
   URxvt.color9:   #bbd8a4
   URxvt.color10:  #e0c77b
   URxvt.color11:  #6de3d8
   URxvt.color12:  #dbd395
   URxvt.color13:  #ecaf4a
   URxvt.color14:  #dfc381
   URxvt.color15:  #96dbc6

   URxvt.background: #0b1c20
   URxvt.foreground: #96dbc6

   URxvt.font: xft:Dina:size=8
   URxvt.scrollBar: false
   URxvt.cursorBlink: true
   URxvt.internalBorder: 24
   URxvt.perl-ext: default,matcher
   URxvt.matcher.button: 1
   URxvt.url-launcher: /usr/bin/firefox
